.button {
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #00000014, 0px 2px 5px #3c42571f, inset 0px -1px 1px #0000001f;
    display: inline-flex;
    position: relative;
  }
  
  .button .text {
    position: relative;
  }
  
  .button .div {
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button .class {
    height: 16px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .button .class-2 {
    height: 12px !important;
    position: relative !important;
    width: 12px !important;
  }
  
  .button .text-2 {
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.large {
    padding: 4px 12px;
  }
  
  .button.white {
    background-color: var(--backgroundsurface);
    border-color: #3c42571f;
  }
  
  .button.blue {
    background-color: var(--background-blue);
    border-color: var(--background-blue);
    flex-direction: column;
  }
  
  .button.small {
    flex-direction: column;
    padding: 4px 8px;
  }
  
  .button.medium {
    padding: 4px 8px;
  }
  
  .button.right-icon-true {
    flex-direction: column;
  }
  
  .button.left-icon-true {
    flex-direction: column;
  }
  
  .button.jumbo {
    flex-direction: column;
    gap: 10px;
    padding: 8px 16px;
  }
  
  .button.red {
    background-color: #cd3d64;
    border-color: #cd3d64;
    flex-direction: column;
  }
  
  .button.large.left-icon-true {
    gap: 8px;
  }
  
  .button.small.right-icon-true {
    gap: 8px;
  }
  
  .button.medium.right-icon-true {
    gap: 8px;
  }
  
  .button.medium.left-icon-true {
    gap: 8px;
  }
  
  .button.large.right-icon-true {
    gap: 8px;
  }
  
  .button.small.blue.left-icon-true {
    gap: 8px;
  }
  
  .button.red.small.left-icon-true {
    gap: 8px;
  }
  
  .button.small.left-icon-false.white {
    gap: 8px;
  }
  
  .button.white.small.right-icon-false.left-icon-true {
    gap: 10px;
  }
  
  .button.right-icon-true .text {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
  }
  
  .button.left-icon-true .text {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
  }
  
  .button.jumbo.left-icon-true .text {
    gap: 10px;
  }
  
  .button.jumbo.right-icon-true .text {
    gap: 10px;
  }
  
  .button.large.left-icon-true .text {
    gap: 8px;
  }
  
  .button.small.right-icon-true .text {
    gap: 8px;
  }
  
  .button.right-icon-false.left-icon-false .text {
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.small.left-icon-true .text {
    gap: 8px;
  }
  
  .button.medium.right-icon-true .text {
    gap: 8px;
  }
  
  .button.medium.left-icon-true .text {
    gap: 8px;
  }
  
  .button.large.right-icon-true .text {
    gap: 8px;
  }
  
  .button.red.right-icon-false.left-icon-false .text {
    color: var(--text-iconswhite);
    font-family: "SF Pro Text-Medium", Helvetica;
    font-weight: 500;
  }
  
  .button.blue.right-icon-false.left-icon-false .text {
    color: var(--text-iconswhite);
  }
  
  .button.right-icon-false.left-icon-false.white .text {
    color: var(--textsecondary);
  }
  
  .button.blue.right-icon-false.medium.left-icon-false .text {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.small.right-icon-false.blue.left-icon-false .text {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  
  .button.jumbo.right-icon-false.left-icon-false.white .text {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.large.right-icon-false.left-icon-false.white .text {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.red.small.right-icon-false.left-icon-false .text {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .button.red.right-icon-false.medium.left-icon-false .text {
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 20px;
  }
  
  .button.jumbo.red.right-icon-false.left-icon-false .text {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.medium.right-icon-false.left-icon-false.white .text {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.blue.right-icon-false.large.left-icon-false .text {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.jumbo.blue.right-icon-false.left-icon-false .text {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.small.right-icon-false.left-icon-false.white .text {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  
  .button.red.right-icon-false.large.left-icon-false .text {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.white .div {
    color: var(--textsecondary);
  }
  
  .button.blue .div {
    color: var(--text-iconswhite);
  }
  
  .button.red .div {
    color: var(--text-iconswhite);
    font-family: "SF Pro Text-Medium", Helvetica;
    font-weight: 500;
  }
  
  .button.red.medium .div {
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 20px;
  }
  
  .button.red.large .div {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.red.small .div {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .button.small.blue .div {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  
  .button.jumbo.blue .div {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.jumbo.red .div {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.blue.large .div {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.blue.medium .div {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.medium.white .div {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.large.white .div {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.jumbo.white .div {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-style: var(--heading-font-style);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.small.white .div {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  
  .button.large .text-2 {
    font-style: var(--heading-font-style);
  }
  
  .button.white .text-2 {
    color: var(--textsecondary);
  }
  
  .button.blue .text-2 {
    color: var(--text-iconswhite);
  }
  
  .button.jumbo .text-2 {
    font-style: var(--heading-font-style);
  }
  
  .button.red .text-2 {
    color: var(--text-iconswhite);
    font-family: "SF Pro Text-Medium", Helvetica;
    font-style: var(--heading-font-style);
    font-weight: 500;
  }
  
  .button.red.medium .text-2 {
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 20px;
  }
  
  .button.red.large .text-2 {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.red.small .text-2 {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .button.small.blue .text-2 {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  
  .button.jumbo.blue .text-2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.jumbo.red .text-2 {
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
  }
  
  .button.blue.large .text-2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.blue.medium .text-2 {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.medium.white .text-2 {
    font-family: var(--body-alt-font-family);
    font-size: var(--body-alt-font-size);
    font-style: var(--body-alt-font-style);
    font-weight: var(--body-alt-font-weight);
    letter-spacing: var(--body-alt-letter-spacing);
    line-height: var(--body-alt-line-height);
  }
  
  .button.large.white .text-2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.jumbo.white .text-2 {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }
  
  .button.small.white .text-2 {
    font-family: var(--caption-alt-font-family);
    font-size: var(--caption-alt-font-size);
    font-style: var(--caption-alt-font-style);
    font-weight: var(--caption-alt-font-weight);
    letter-spacing: var(--caption-alt-letter-spacing);
    line-height: var(--caption-alt-line-height);
  }
  